In [ ]:
#Assignment 1
#Student of DataScience
#Student of Datatrained-Saurav

In [1]:
#Python basics
#Here you will find lot of basic codes in python to make self practice. Start writing the codes 
#given below in jupyter notebook.
#
#While writing the code you will find few task to be completed . Few of them are provided with hint
#and solutions.
#
#And many of task you may complete n your own.
#
#Happy Practicing!
#
#
#
#Practice these commands on Jupyter notebook
#
# 8+4
#
#16*5
#
# 50 - 5*6
#
#(50 - 5*6) / 4

In [2]:
#1

In [3]:
8+4

12

In [4]:
#2

In [5]:
16*5

80

In [6]:
#3

In [7]:
50 - 5*6

20

In [8]:
#4

In [9]:
(50 - 5*6) / 4

5.0

In [10]:
# Now Write comment

# This is my first program.

# It prints the phrase "Hello, World"

# The comments are longer than the code!

#greeting = "Hello World of Python"
#
#print(greeting)
#
# 8 / 5 # division always returns a floating point number
#
#17 / 3 # classic division returns a float
#
#17 // 3 # floor division discards the fractional part
#
#17 % 3 # the % operator returns the remainder of the division
#
#5 * 3 + 2 # result * divisor + remainder
#
# 5 ** 2 # 5 squared
#
#2 ** 7 # 2 to the power of 7
#
#width = 20
#
#height = 5 * 9
#
#width * height
#
#print(width)
#
#print("The value of width=",width) # use single quote
#
#print('The value of width is=", width) # use double quote
#
#print("Value=",width*height)
#
#

In [12]:
"Hello, World!"

'Hello, World!'

In [13]:
greeting="Hello World Of Python"

In [14]:
print(greeting)

Hello World Of Python

In [15]:
#division always returns a floating point number

In [16]:
8/5

1.6

In [17]:
#classic division returns a float

In [19]:
17/3

5.666666666666667

In [20]:
#floor division discards the fractional part

In [21]:
17//3

5

In [22]:
#the % operator returns the remainder of the division

In [23]:
17%3

2

In [24]:
 #result * divisor + remainder

In [25]:
5*3+2

17

In [26]:
#5 squared

In [27]:
5**2

25

In [28]:
#2 to the power of 7

In [29]:
2**7

128

In [30]:
#width = 20
#
#height = 5 * 9
#
#width * height
#
#print(width)

In [36]:
width=20

In [41]:
height=5*9

In [42]:
width * height

900

In [43]:
print(width)

20

In [45]:
#print("The value of width=",width) # use single quote

In [52]:
print('The Value of width is = ',width)

The Value of width is =  20

In [48]:
#print('The value of width is=", width) # use double quote

In [50]:
print("The value of width is = ",width)

The value of width is =  20

In [53]:
#print("Value=",width*height

In [55]:
print("The value of  ",width*height)

The value of   900

In [58]:
#Task: Now try to print height yourself
#
#tax = 12.5 / 100
#
#price = 100.50
#
#price * tax
#
#

In [59]:
tax=12.5/100

In [61]:
price=100.50

In [62]:
price*tax

12.5625

In [63]:
#Task: Now try to print tax and price yourself
#
## String concatenation
#
#"The "+"Sun"
#
#"The "+"Moon"
#
#"Planets"+" Universe"
#
#string1 = "Elon"
#
#string2 = "Musk"
#
#magic_string = string1 + string2
#
#magic_string
#

In [64]:
"The" + "Sun"

'TheSun'

In [65]:
"The Moon"

'The Moon'

In [67]:
"Planet" + "Universe"

'PlanetUniverse'

In [71]:
string1="Elon"
string2="Musk"
magic_string=string1+ string2
print(magic_string)

ElonMusk

In [72]:
#Task : Make variable firstname and lastname and concatnate them with space.
#
#Soln.
#
#first_name = "Arthur"
#
#last_name = "Dent"
#
#full_name = first_name + " " + last_name
#
#full_name

In [74]:
first_name="Arthur"
last_name="Dent"
full_name=first_name+" "+last_name
print(full_name)

Arthur Dent

In [75]:
#Task:
#
#1. Create two strings, concatenate them, and print the resulting
#
#string.
#

In [76]:
first_name="Nupur"
last_name="Sharma"
full_name=first_name+last_name
print(full_name)

NupurSharma

In [ ]:
#2. Create two strings, use concatenation to add a space between them,
#
#and print the result.
#

In [78]:
first_name="Nupur"
last_name="Sharma"
full_name=first_name+" "+last_name
print(full_name)

Nupur Sharma

In [80]:
## User Input
#prompt = "Hey, what's up? "
#
#user_input = input(prompt)
#
#print("You said: " + user_input)
#

In [83]:
prompt=input("Hey what's up ? ")

Hey what's up ? Good

In [89]:
user_input=input("Hey bro enter a string")
print("You said" ,user_input)

Hey bro enter a stringYes
You said Yes

In [90]:
#Task: Take user input and make twice of that number
#
#Soln.
#
#num = input("Enter a number to be doubled: ")
#
#doubled_num = num * 2
#
#print(doubled_num)
#

In [95]:
num=input("Enter a number to be doubled:  ")

double_num=num * 2
print(double_num)

Enter a number to be doubled:  5
55

In [ ]:
#Task: Take user input and make twice of that number and typecast it to float.
#
#Soln.
#
#num = input("Enter a number to be doubled: ")
#
#doubled_num = float(num) * 2
#
#print(doubled_num)

In [96]:
num=input("Enter a Number")
double_num=float(num * 2)
print(double_num)

Enter a Number4
44.0

In [97]:
#Task :
#
#1
#
# Write a program that uses input() twice to get two numbers from
#
#the user, multiplies the numbers together, and displays the result.
#
#If the user enters 2 and 4, then your program should print the
#
#following text:
#
#The product of 2 and 4 is 8.0.

In [105]:
num1=int(input("Enter Your Number"))
num2=int(input("Enter Your Number"))
multi=num1 * num2
print(f"The product of {num1} and {num2} is {multi}.0.")

Enter Your Number2
Enter Your Number4
The product of 2 and 4 is 8.0.

In [106]:
#Calculate simple interest by taking user input for priciple,rate and time .
#Hint:
#p=int(input("Enter principle"))
#simple_interest=(p*r*t)/100

In [115]:
P=int(input("Enter principle "))
r=int(input("Enter rate "))
t=int(input("Enter Time "))
simple_intrest=(P*r*t)/100
print(simple_intrest)

Enter principle 10000
Enter rate 5
Enter Time 5
2500.0

In [117]:
## Find length
#len("abc")
#letters = "abc"
#len(letters)
#Task:
#Create a string and print its length using len().

In [118]:
len('abc')

3

In [119]:
letters="abc"
len(letters)

3

In [120]:
my_self="I am Saurav, and am Ex Mining Enginner"
print(len(my_self))

38

In [ ]:
#Date-03/07/2022
#Time-20:44